peft==0.20.0
accelerate==1.14.0
bitsandbytes==0.50.2
wandb==0.29.0
pandas==3.0.5
pydantic==2.13.5
requests==2.34.2
sentry-sdk==2.68.1
annotated-types==0.8.0
charset-normalizer==3.5.1
opentelemetry-api==1.44.0
platformdirs==4.11.5
protobuf==7.36.0
psutil==7.2.2
pydantic_core==2.46.5
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
typing-inspection==0.4.4
urllib3==2.7.0
xxhash==4.0.1
transformers==5.16.0.dev0
tokenizers==0.23.1
huggingface_hub==1.29.0
typer==0.27.2
httpx==0.28.1
rich==15.0.0
anyio==4.14.2
httpcore==1.0.9
markdown-it-py==4.2.0
annotated-doc==0.0.5
certifi==2026.7.22
click==8.5.0
h11==0.16.0
hf-xet==1.6.0
idna==3.19
mdurl==0.1.2
Pygments==2.21.0
PyYAML==6.0.3
regex==2026.7.19
safetensors==0.8.0
shellingham==1.5.4
tqdm==4.70.0
torchvision==0.27.1+cu130
torch==2.12.1+cu130
nano==1.2.0
Django==5.2.17
asgiref==3.12.1
sqlparse==0.6.0
vi==0.9
pbr==7.0.3
six==1.17.0
nvidia-cudnn-cu13==9.20.0.48
nvidia-cusolver==12.0.4.66
cuda-bindings==13.3.1
Jinja2==3.1.6
nvidia-cublas==13.1.1.3
nvidia-cufft==12.0.0.61
nvidia-cusparse==12.6.3.3
cuda-pathfinder==1.6.0
filelock==3.32.3
fsspec==2026.7.0
MarkupSafe==3.0.3
networkx==3.6.1
numpy==2.4.6
nvidia-cuda-cupti==13.0.85
nvidia-cuda-nvrtc==13.0.88
nvidia-cuda-runtime==13.0.96
nvidia-cufile==1.15.1.6
nvidia-curand==10.4.0.35
nvidia-nccl-cu13==2.29.7
nvidia-nvjitlink==13.0.88
nvidia-nvshmem-cu13==3.4.5
nvidia-nvtx==13.0.85
pillow==12.3.0
setuptools==78.1.0
sympy==1.14.0
triton==3.7.1
typing_extensions==4.16.0
cuda-toolkit==13.0.2
mpmath==1.3.0
nvidia-cusparselt-cu13==0.8.1
wheel==0.48.0
packaging==26.3
pip==26.2.1
